# Node.js dependencies
node_modules/

# Build and distribution directories
build/
dist/

# Environment configuration files
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System files
.DS_Store

# IDE-specific files
.idea/
.vscode/
*.iml

# Package lock files (Uncomment if you decide not to track them)
# package-lock.json
# yarn.lock

# Compiled output
*.tsbuildinfo

# Optional caches (Uncomment if not needed)
#.eslintcache
#.stylelintcache
#.parcel-cache

